/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/fonts/*
/storage/fonts/*.php
/public/js/*
/public/css/*
/public/fonts
/vendor
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.env
storage/fonts/*
.env
.env.nube
.env.nube2
